<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<% if @link.user == current_user %>
<div class="btn-group">
<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %> 

<%= link_to 'Destory', @link, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-default" %>
</div>
<% end %>
